.flash-top {
    border: 1px solid black;
    .container1 {
        background-color: #E6E6E6;
        border: 1px solid black;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {

        }

        .flash-topBtn {

        }
    }

    .flash-top-product {

    }
}